# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
package-lock.json

# Build
dist/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Test artifacts
test_load.js
